*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    background:#222;
    color:#fff;
    background-size: cover;
    background-position: center;
    max-width:450px;
    height:100vh;
    margin: auto;
    position: relative;
}
#textbox{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    color:rgb(44, 40, 40);
    padding:10px;
}
#previewtext{
    position: absolute;
    left:50%;
    bottom:30%;
    transform: translate(-50%);
    width:90%;
    font-size: 32px;
    text-align: center;
    text-shadow:2px 2px 20px #000;
    color:rgb(44, 40, 40);
}
.upload-icon{
    position: absolute;
    width:60px;
    bottom:100px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius:10px;
}